<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por Capital</h2>
    <hr>

    <div class="row">
        <div class="col">
            <!-- Fomulario -->
            <app-paises-input 
                (onEnter)="buscarCapital( $event)"
                [placeholder]="placeholder"
            >
            </app-paises-input>
            <!-- Fin del fomulario -->
        </div>
    </div>

    <hr>
</div>

<div *ngIf="isError" 
     class="alert alert-danger">
    No se encontró nada con el término {{ pais }}
</div>

<div class="row" *ngIf="paises.length > 0">
    <div class="col">
        <!-- Tabla-->
        <app-paises-tabla [paises]="paises"></app-paises-tabla>
        <!-- Fin de la tabla-->
    </div>
</div>
